.body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: url('https:  //i.ibb.co/vsM2WX2/Airplane-wallpaper-HD-1.jpg') no-repeat; */
}
section {
  background-color: transparent;
}
.login_page {
  position: absolute;
  top: 10%;
  left: 50%;
}
.login_page h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px 0;
  letter-spacing: 1.5px;
}
.login_page input {
  width: 100%;
  height: 45px;
  margin: 10px 0;
  border: 2px solid #777;
  outline: none;
  padding: 0 10px;
}
.login_page .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}
.login_page .row a {
  color: crimson;
}
.login_page .row button {
  width: 250px;
  padding: 10px 0;
  color: rgb(0, 0, 0);
  background: rgb(26, 198, 204);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-left: 15px;
  margin-top: 20px;
}
.login_page p {
  margin: 10px 0;
}
.login_page a {
  color: #111;
  font-weight: 600;
}

/* ------------- Forgot Password --------------- */
.fg_pass {
  position: relative;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

}
.fg_pass h2 {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
  letter-spacing: 1.3px;
}
.fg_pass .row {
  max-width: 500px;
  margin: auto;
  padding: 0 10px;
}
.fg_pass .row input {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 15px;
  border-radius: 3px;
  margin: 5px 0;
}
.fg_pass .row button {
  background: rgb(26, 198, 204);
  color: white;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border-radius: 3px;
  margin-top: 15px;
}
/* ---------- Facebook / Google ---------------- */
.login_page .hr {
  margin: 15px 0;
  color: crimson;
}

.login_page .social button {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  font-size: 14px;
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 1.3px;
  box-shadow: 0 2px 4px #777;
}
