h1 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
	flex-direction: column;
}

.first-container {
	width: 100%;
  display: flex;
}

.grid td {
  width: 150px;
  height: 50px;
  padding: 50px 30px;
  border: 2px solid orange;
  text-align: center;
  float: left;
  margin: 5px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  background: orange;
  color: #fff;
  display: inline-block;
}

.reserved::after {
  content: 'RESERVED'
}

.available::after {
  content: 'AVAILABLE'
}

.available {
  color: #333;
}

li {
  list-style: none;
}

.Seat-Container {
	padding: 10px 90px;
}

.container-row {
	display: flex;
	width: 100%;
}

.seat-row {
	width: 400%;
  margin-top: 100px;
}

.productAddButton {
	width: 150px;
	border: none;
	padding: 5px;
	background-color: teal;
	color: white;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.container-button {
	display: flex;
	position: static;
	width: 100%;
	margin-top: 50px;
	justify-content: center;
}

.container-invite {
	display: flex;
}

.left {
	height: 700px;
}

.notify-container {
	display: flex;
	flex-direction: column;
}

.notify {
	display: flex;
	margin: 10px 0px;
}
