body {
    height: 88vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .Message {
    text-align: center;
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 0px 20px;
    background-color: white;
    flex: 4;
  }
  
  .Message-logo {
    animation: Message-logo-spin infinite 50s linear;
    display: block;
    height: 25vmin;
    margin: 0 auto;
    pointer-events: none;
  }
  
  .Message-chatbox {
    margin: 2em auto;
    max-height: 600px;
    overflow-y: scroll;
    text-align: left;
    max-width: 600px;
    width: 100%;
  }
  
  .Message-chatbox > div {
    background: rgba(0,0,0,0.25);
    border-radius: 1em;
    padding: 0.25em 1em;
    font-size: 14px;
    margin: 0.75em 0;
  }
  
  .Message-chatbox p:first-child {
   font-size: 12px;
  }
  
  input {
    background: none;
    border: 1px solid black;
    border-radius: 0.25em;
    color: black;
    margin: 0.5em;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    font-size: 15px;
  }
  
  ::placeholder {
    color: black;
  }
  
  button {
    background: none;
    border: 1px solid black;
    color: #61dafb;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
  }
  
  @keyframes Message-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.Message-Container {
  display: flex;
}

.End-Button {
  color: red;
  margin-left: 10px;
}