.newProduct {
  flex: 4;
  background-color: white;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.addProductItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.addProductButton {
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
