#list {
  padding: 0px 90px;
}

.title {
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 214, 255, 0.75);
  border: 1px solid #6e9eff;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0px;
}

.title-text {
  font-size: 24px;
  font-weight: 400;
}

.location {
  display: flex;
}

.location-start,
.location-des {
  display: flex;
  align-items: center;
}

.location-start {
  margin-right: 20px;
}

.location-string {
  font-size: 22px;
  font-weight: 300;
}

.location-icon {
  margin-right: 10px;
}

.information-table {
  display: flex;
}

.information-title {
  font-size: 18px;
  font-weight: 300;
}

.confirm-button {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  margin-right: 20px;
}

.flight-info {
  display: flex;
  flex-direction: column;
}

.flight-description {
  display: flex;
  align-items: center;
}

.airplane {
  margin: 0px 10px;
  width: 16px;
  height: 16px;
}

.price {
  color: red;
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}

.flight-title {
  font-size: 20px;
  font-weight: 700;
}

.price-container {
  display: flex;
  align-items: center;
}
.price-container-secondary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-secondary {
  font-size: 22px;
  font-weight: 700;
  margin-left: 10px;
}
.continue {
  float: right;
}
.page-number {
  width: 100%;
  border: transparent;
  text-align: center;
}
.page-btn {
  border-radius: 5px;
  border: none;
}
.page-btn:hover {
  background-color: rgb(163, 163, 163);
}
