.confirm-container{
  width: 100%;
  height: 100vh;
  padding: 10px 90px;
  display: flex;
  justify-content: space-between;
}
.confirm-container-secondary {
  padding: 10px;
  height: 80vh;
  width: 80vh;
  border: 1px solid red;
}
.pay-container {
  padding: 10px;
  height: 80vh;
  width: 80vh;
  border: 1px solid red;
}
.pay-input{
  margin: 5px 0px;
  width: 100%;
  font-size: 18px;
}
.select-container {
  width: 100%;
}
.return {
  border-top: 1px solid;
}
