header {
  width: 100%;
  height: 75px;
  background-color: rgba(0, 0, 0, 0.082);
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 10px 90px;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}
header ul {
  text-align: center;
  list-style: none;
  float: right;
}
header ul li {
  list-style: none;
  display: inline-block;
}
header ul li a {
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px;
  transition: all ease 0.5s;
}
header ul li a:hover {
  background-color: #211b4385;
  color: #fff;
}

header ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.logo-img {
  width: 50px;
  height: 50px;
  float: left;
}
.avatar-div{
  position: relative;
  margin-left: 20px;
  border: solid 1px;
  border-radius: 50%;
}
.avatar-div-support {
  position: absolute;
  top: 0;
  left: 0;
  background-color: greenyellow;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  border: 1px solid green
}
.drop-down {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  margin-right: 40px;
  display: none;
}
.avatar-div:focus .drop-down{
  display: block;
}

.avatar {
  padding: 10px
}

.item {
  margin-right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.item:hover {
  /* background-color: white; */
  opacity: 0.5
}

.share-code {
  display: flex;
}