body {
  height: 88vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.profile_page {
  display: flex;
  width: 100%;
  padding: 50px;
  position: absolute;
  top: 10%;
}
.profile {
  height: 70vh;
  width: 30%;
  letter-spacing: 1px;
  padding: 10px;
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0.5);
}
.profile div {
  margin: 10px 0px;
}
.avatar-profile-div{
  width: 100%;
  height: 100%;
  text-align: center;
}
.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.ticket {
  margin-left: 50px;
  width: 70%;
  height: 70vh;
  border: 1px solid red;
  letter-spacing: 1px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.ticket table td{
  width: 200px;
  border-bottom: 1px solid;
}
.ticket table th{
  width: 200px;
  background-color: red;
}

.update-btn-div{
  width: 100%;
  height: 100%;
  text-align: center;
}
.update-btn {
  margin-top: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 2, 114);
  color: white;
}
.update-btn:hover{
  background-color: rgb(0, 4, 216);
}
.my-ticket {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  padding: 10px 90px;
  background-color: rgba(255, 255, 255, 0.5);
}
.my-ticket table th{
  background-color: red;
  padding: 10px;
  border-bottom: 1px solid;
}
.my-ticket table td{
  padding: 10px;
  width: 300px;
  border-bottom: 1px solid;
}
